* {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

header {
    height:fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 26, 86);
}
#logo {
    height: 5rem;
}

.logobox {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
}

.logobox > p {
    color:rgb(164, 130, 238);
    font-weight:bolder;
    font-size: larger;
}

header > div {
    display: flex;
    width: 15rem;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2rem;
}

a {
    color:beige;
    text-decoration: none;
}

a:hover {
    color: rgb(164, 130, 238);
}

.presentation {
    background-color:rgb(43, 26, 86);
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.presentation > div > img {
    height: 300px;
}

.title-section {
    color:beige;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bold-title {
    font-size: 30px;
    font-weight: bolder;
}
